@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  src: url('../assets/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
